div {
  width: 700px;
  height: auto;
  position: relative;
}
 
area {
  cursor: pointer;
}

.img1 {
  height: auto;
  max-width: 700px; 
  /* position: absolute;  */
}

.img2 {
  z-index: -1;
  height: auto;
  position: absolute;
  max-width: 500px; 
  right: 100px;
  top: 40px;
}

@media screen and (max-width: 653px) {
  div {
    width: 80vw;
  }

  .img2 {
    width: 55vw;
    left: 45px;
    top: 10px;
  }

  .img1 {
    width: 80vw;
  }

}
