.box {
    border: 8px solid rgba(31, 31, 31);
}

h1 {
    color: rgba(31, 31, 31);
}

h2 {
    color: rgba(31, 31, 31);
}

h3 {
    color: rgba(31, 31, 31);
}
body {
    background-color: rgb(19, 19, 19);
}