h1 {
    color: black;
}
    
h2 {
    color: black;
}
    
h3 {
    color: black;
}
    
h4 {
    color: black;
}
    
.box {
    border: 10px solid black;
}
  
body {
    background-color: #442c2c;
}