@font-face {
    font-family: "VCR";
    src: url("../../../fonts/VCR OSD Mono Cyr.ttf");
 }

body {
    background-color: black;
}

h1 {
    font-family: "VCR";
    color: #07fc03;
    font-size: 40px;
}

h2 {
    font-family: "VCR";
    color: #07fc03;
}

.small {
    font-size: 20px;
}

.row {
    display: flex;
    align-items: row;
}

input {
    font-family: "VCR";
    caret-shape: underscore;
    color: #07fc03;
    border: 0;
    background-color: black;
    font-size: 20px;
}

input:focus {
    outline: 0;
}

button {
    font-family: "VCR";
    background-color: black;
    border-color: #07fc03;
    font-size: 20px;
}