body {
    background-color:rgb(062, 062, 062);
  }
  
  h1 {
    color: black;
  }
  
  h2 {
    color: black;
  }
  
  h3 {
    color: black;
  }
  
  .box {
    border: 10px solid black;
  }
  
  .jef{
    color: #1b316b;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  }

  .cat {
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  }