.img {
    opacity: 1;
    clip-path: circle(100px at var(--cursorX) var(--cursorY));
    max-width: 800px;
    position: absolute;  
    height: auto;
    width: 100%
  }
  
  .img2 {
    pointer-events: none;
    z-index: -1;
    max-width: 800px;
    height: auto;
    width: 100%
  }
    
  .container {
      position: relative;
  }
  
  
  :root{
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  
  body {
    background-color: rgb(26, 26, 26);
  }
  
  h1 {
    color: black;
  }
  
  h2 {
    color: #000000;
  }
  
  h3 {
    color: #000000;
  }
  
  h4 {
    color: #000000;
  }
  
  .box {
    margin: 10px;
    border: 10px solid black;
    background-color: white;
  }
  